//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
  padding: 0 0.5rem;
  color: #6c757d; /* Optionnel : couleur grise comme Bootstrap */
}
