// styles.scss ou component-name.component.scss

h5 {
  font-weight: 600;
}

textarea {
  resize: vertical;
}

.bi-folder-plus {
  font-size: 2rem;
  color: #ccc;
}

.form-check-label {
  font-weight: 500;
}
