<div class="container-fluid">
  <app-page-title [title]="title()" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="card">
    <div class="card-body">
      <div class="row d-flex justify-content-between">
        <div class="col-sm-auto">
          <app-search-box
            [placeholder]="'Search projects...'"
            (valueChange)="searchTerm.set($event)"
          ></app-search-box>
        </div>
        <div class="col-sm-auto">
          <app-add-button
            link="/configuration/catalogue/add-unite-of-measure"
            [label]="labelButton()"
          ></app-add-button>
        </div>
      </div>
      <app-dynamic-table-paginated
        [actions]="actions"
        [columns]="columns()"
        [data]="filteredData()"
      ></app-dynamic-table-paginated>
    </div>
  </div>
  <!-- end row -->
</div>
